<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
<stringAttribute key="mainScript" value=""/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value=""/>
</launchConfiguration>
